# URL base da aplicação (necessária para redirecionamentos de checkout locais e em produção)
APP_URL=http://localhost:3000

# Chave secreta de API do Stripe (Obtenha no painel do Stripe: Dashboard > Developers > API Keys)
STRIPE_SECRET_KEY=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
